#category-title{
    background: #f6f6f6;
    
        .cat-intro{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .title-content{
                width: 42%;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 300px;
                padding-top: 50px;
                .title-header{
                    color: #231f20;
                    font-size: 40px;
                    line-height: 45px;
                    font-weight: 300;
                    margin-bottom: 0;
                }
                .title-text{
                    color: #231f20;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    
}
@media only screen and (min-width:1430px){
    #category-title{
        .cat-intro{
            .title-content{
                width: 42%;
            }
        }
    }

}
@media only screen and (max-width:1430px) and (min-width:768px){
    #category-title{
        .cat-intro{
            .title-content{
                width: 50%;
            }
        }
    }

}
@media only screen and (max-width:768px){
    #category-title{
        .cat-intro{
            .title-content{
                width: 100%;
                .title-header{
                    font-size: 30px;
                    line-height: 35px;
                }
                .title-text{
                    font-size: 18px;
                }
            }
        }
    }

}