#header{
    width: 100%;
    font-family:  Arial, sans-serif;
    .header-banner{
        width: 100%;
        height: 45px;
        background-color: rgb(58, 89, 63);
        background-position: 50%;
        cursor: pointer;
        text-align: center;
        a{
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
                
            }
        }
        
    }
    .container{
        max-width: 1400px;
    }
    .header-top{
        width: 100%;
        padding:15px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            li{
                a{
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #484848;
                    text-decoration: none;
                    transition: all .2s ease-in;
                }
            }
        }
        .nav-list{
            border-right: 1px solid #c4c4c4;
            justify-content: flex-start;
            flex-wrap: wrap;
            li{

                margin:0 10px;
            }            
        }
        .header-top-content{
            display: flex;
            flex-wrap: wrap;
            margin: 0 10px;
            align-content: center;
            align-items: center;
            .icon{
                display: flex;
                width: 20px;
                height: 20px;
            }
            
        
            .content{
                flex: 1;
                margin-left: 10px;
                .text-default{
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #484848;
                    white-space: nowrap;
                    margin-bottom:0;
                }
                .link-default{
                    display: block;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #0a84ff;
                    white-space: nowrap;
                }
                
            }

        }
        .languages{
            margin: 0 auto;
            ul{
                margin: auto 10px;
                padding: 0;
                li{
                    padding: 0 10px;
                    border-left: 1px solid #c4c4c4;
                    a{
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 16px;
                        color: #484848;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
                .first{
                    border:none;
                }
            }
        }
        .sign-in-top{
            margin-left: auto;
            button{
                display: flex;
                box-shadow: none;
                border: 1px solid transparent;
                align-content: center;
                align-items: center;
                padding: 0;
                height: 100%;
                svg{
                    width: 19px;
                    height: 19px;
                }
                span{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #0a84ff;
                    margin-left: 10px;
                }
            }
        }
    }
    .navbar{
        // width: 100%;
        padding:15px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: #231f20;
        .container{
            justify-content: flex-start;
        }
        nav{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            .logo{
                margin-right: 50px;
                // margin-left:-150px;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                } 
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-family:  Arial, sans-serif;
                li{
                    position: relative;
                    .sub-menu{
                        display: none;
                        position: absolute;
                        z-index: 101;
                        top: 245%;
                        left: 0;
                        background-color: #231f20;
                        min-width: 240px;
                        font-family:  Roboto, Arial, sans-serif;
                        li{
                            display: block;
                            border-bottom: 2px solid #2b2b2b;
                            transition: background-color .2s ease;
                            a{
                                display: block;
                                opacity: .6;
                                font-size: 14px;
                                color: #fff;
                                font-weight: 300;
                                padding: 12px 30px;
                                min-width: 200px;
                                text-decoration: none;
                                transition: opacity .2s ease;
                                span{
                                    color:#85ca7c;
                                }
                            }
                            &:hover{
                                background: #2b2b2b;
                                a{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:hover{
                        a{
                            color:#0a84ff;
                        }
                        button{
                            color:#0a84ff;
                        }
                        .sub-menu{
                            display: block;
                        }
                    }

                }
            }

            .main-navbar, .offers-gift-nav{

                li{
                    a{
                        font-size: 16px;
                        line-height: 16px;
                        padding: 32px 8px;
                        color: #a6a5a5;
                        transition: color .2s ease;
                        white-space: nowrap;
                    }
                }
            }
            .offers-gift-nav{
                // width: ;
                border-left: 1px solid #aaa;
                margin-left: 15px;
                padding-left:5px;
            }
            .header-buttons{
                margin-left: auto;

                li{
                    margin-left: auto;
                    
                    a{
                        transition: color .2s ease,fill .2s ease;
                        cursor: pointer;
                        
                        svg{
                           
                            display: inline-block;
                            vertical-align: top;
                            path{
                                
                                stroke: #fff;
                                stroke-width: 1px;
                            }

                        }
                        
                        
                    }
                    &:hover{
                        a{
                            svg{
                                fill:#0a84ff;
                                path{
                                    fill: #0a84ff;
                                    stroke: #0a84ff;
                                }

                            }
                        }
                        button{
                            svg{
                                // fill:#0a84ff;
                                path{
                                    fill: #0a84ff;
                                    stroke: #0a84ff;
                                }

                            }
                        }

                    }
                }
                .cart-btn{
                    a{
                        .quantity-product{
                            background: #0a84ff;
                            padding: 1px 5px 0;
                            position: absolute;
                            bottom: 0;
                            right: 3px;
                            color: #fff;
                            font-size: 10px;
                            font-weight: 400;
                            border-radius: 4px;
                        }
                        .cart-info{
                            display:none;
                            position: absolute;
                            min-width: 450px;
                            padding: 0;
                            margin: 0;
                            background: #fff;
                            border: none;
                            border-radius: 4px;
                            box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
                            top: 45px;
                            right: -6px;
                            z-index: 100;
                            .no-product{
                                padding: 20px;
                                text-align: left;
                                p{
                                    color: #898989;
                                    font-size: 15px;
                                    font-weight: 300;
                                    margin: 0;
                                }
                            }
                            .product-list{
                                .product-item{
                                    flex: 0 1 100%;
                                    max-width: 100%;
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 20px 35px 20px 20px;
                                    position: relative;
                                    border-bottom: 1px solid #f0f0f0;
                                    .product-info{
                                        display: flex;
                                        flex: 1 1 100%;
                                        max-width: 100%;
                                        margin-bottom: 15px;
                                        .item-img{
                                            width: 40px;
                                            height: 40px;
                                            img{
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                        .item-descr{
                                            flex: 1;
                                            margin-left: 15px;
                                            text-align: left;
                                            .name{
                                                color: #231f20;
                                                font-size: 13px;
                                                line-height: 14px;
                                                font-weight: 600;
                                                margin-bottom: 0;
                                            }
                                            .amount{
                                                color: #898989;
                                                font-size: 13px;
                                                font-weight: 300;
                                                margin-bottom: 4px;
                                            }
                                            .prices-wrapper{
                                               
                                                .price{
                                                    color: #231f20;
                                                    font-size: 18px;
                                                    line-height: 18px;
                                                    font-weight: 400;
                                                    margin-bottom:0;
                                                    
                                                }
                                                .price-nds{
                                                    font-size: 12px;
                                                    margin-bottom:0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .cart-info{
                            display: block;
                        }
                    }

                }
            }
            
        }
        .mobile-navbar{
            display: none;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1429.98px){
    #header{
        
        .navbar{
            // width: 100%;
            flex-flow: row nowrap;
            justify-content: flex-start;
            .container{
                flex-wrap: nowrap;
                nav{
                   .main-navbar, .offers-gift-nav{
                    
                        flex-direction: row;
                        li{
                            a{
                                
                                font-size: 13px;
                                padding: 32px 3px;
                            }
                        }
                    
                   }
                }
            }
        }
        .header-buttons{
            width: 75px;
            li{
            
                a{
                    padding:2px;
                }
                
            }
        }
    }
}
@media only screen and (max-width: 1429.98px){
    #header{
        .container{
            max-width: 970px;
        }
       
        .header-top{
            .nav-list{
                align-items: flex-start;
                max-width: 366px;
                margin: 0 5px 0 -5px;
                li{
                    margin: 0 5px;
                }
            }
            .header-top-content{
                margin: 0 5px;
                .content{
                    margin-left: 5px;
                }
            }
            .languages{
                margin: auto 5px;
            }

        }
        .sign-in-top{
            button{
                span{
                    font-size: 13px;
                    line-height: 13px;
                }
            }
        }
        .navbar{
            .main-navbar, .offers-gift-nav{
                
                    li{
                        a{
                            font-size: 16px;
                            padding: 32px 8px;
    
                        }
                        
                    }
                

            }
           

        }
        
    }

}
@media only screen and (max-width: 992px){
    #header{
        
        .header-top{
            display: none;
        }
        .navbar{
            background: #231f20;
            nav{
                display: none;
            }
            .container{
                max-width: 100%;
                padding: 0 15px;
                justify-content: flex-start;
                .mobile-navbar{
                    display: block;
                    position: relative;
                    .top{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: flex-start;
                        .btn{
                            &:hover{
                                color: #212529;
                                text-decoration: none;
                            }
                        }
                        .burger{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            width: 30px;
                            height: 24px;
                            padding: 0;
                            background: 0 0;
                            border: none;
                            border-radius: 0;
                            margin: 0;
                            outline: none;
                            .inline-block{
                                display: inline-block;
                            }
                            .none{
                                display: none;
                            }
                            .menu-icon{
                                position: relative;
                                width: 30px;
                                height: 2px;
                                color: #fff;
                                font: 700 14px/.4 Helvetica;
                                text-transform: uppercase;
                                text-indent: -55px;
                                background: #fff;
                                &::before, &::after{
                                    content: "";
                                    width: 30px;
                                    height: 2px;
                                    background: #fff;
                                    border-radius: 35px;
                                    position: absolute;
                                    left: 0;
                                    transition: all .2s ease-out;
                                }
                                &::before{
                                    top: -13px;
                                }
                                &::after{
                                    bottom: -13px;
                                }
                            }
                            .close-icon{
                                position: relative;
                                width: 30px;
                                height: 2px;
                                color: #fff;
                                font: 700 14px/.4 Helvetica;
                                text-transform: uppercase;
                                text-indent: -55px;
                                background-color: transparent;
                                &::before, &::after{
                                    content: "";
                                    width: 30px;
                                    height: 2px;
                                    background-color: #0a84ff;
                                    border-radius: 35px;
                                    position: absolute;
                                    left: 0;
                                    transition: all .2s ease-out;
                                }
                                &::before{
                                    top: 0;
                                    transform: rotate(45deg);
                                }
                                &::after{
                                    bottom: 0;
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                        .logo{
                            // display: none;
                            margin-right: 50px;
                            margin-left: 10px;
                            a{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            } 
                        }
                        .mobile-header-buttons{
                            margin-left: auto;
                            display: flex;
                            margin: -15px 0 -15px auto;
                            .feature-item{
                                display: flex;
                                width: 25px;
                                height: 60px;
                                justify-content: center;
                                align-content: center;
                                align-items: center;
                                margin: 0 5px;
                                .btn-search{
                                    padding: 0;
                                }
                                .btn-cart{
                                    padding: 0;
                                    margin: 0;
                                    position: relative;
                                    background: transparent;
                                    border: 1px solid transparent;
                                }
                                .btn-sign-in{
                                    padding: 0;
                                    svg{
                                        path{
                                            fill: #fff;
                                            stroke: #fff;
                                        }
                                    }
                                }
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .block{
                        display: block;
                    }
                    .none{
                        display: none;
                    }
                    .main-mobile-navbar{
                        width: 100%;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        margin: 0;
                        overflow: hidden;
                        z-index: 21;
                        background: #231f20;
                        .navbar-collapse-wrapper{
                            .nav-slider {
                                transition: transform .3s ease-in-out;
                                .nav-container{
                                    display: flex;
                                    flex: 1 0 100%;
                                    max-width: 100%;
                                    .navbar-nav{
                                        display: flex;
                                        flex-direction: column;
                                        padding-left: 0;
                                        margin-bottom: 0;
                                        list-style: none;
                                        flex: 1;
                                        .nav-item{
                                            border-bottom: 1px solid #2b2b2b;
                                            position: relative;
                                            .nav-link{
                                                display: block;
                                                font-size: 16px;
                                                line-height: 16px;
                                                padding: 13px 15px;
                                                color: #a6a5a5;
                                                transition: color .2s ease;
                                                white-space: nowrap;
                                            }
                                            .btn-forward{
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 100%;
                                                height: 100%;
                                                padding: 0 15px;
                                                display: flex;
                                                justify-content: flex-end;
                                                align-items: center;
                                                background-color: transparent;
                                                border: none;
                                                img{
                                                    transform: rotate(180deg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}
